@import "patrials/_variables.scss";
@import "patrials/config";
@import "patrials/_header.scss";

.slider__img{
    width:100%;
    height: 23rem;
}
.slider__dot{
    border-radius: 50%;
    width: .8rem !important;
    height: .8rem !important;
}
.topnews{
    border: 1px solid $main_color;
    box-sizing: border-box;
    overflow: hidden;
}
.topnews__header{
    width: 100%;
    background: $main_color;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}
.topnews__body{
    width: 100%;
    height: 100%;
}
.topnews__img{
    width: 100%;
    max-height: 10rem;
}

@media screen and (max-width:1200px){
    .topnav__link{
        &::after{
            width: 0; //for navigation wrapping without absolute possition errors
        }
    }
}

@media screen and (max-width:991px){
    .topnav__ul{
        @include flex(column, center, flex-start);
        margin-top: .5rem;
    }
}

@media screen and (max-width:575px){
    .slider__img{
        height: 17rem;
    }
}

@media screen and (max-width:425px){
    .slider__img{
        height: 14rem;
    }
}

@media screen and (max-width:375px){
    body{
        font-size: 12px !important;
    }
}