* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;
}

*::-moz-selection {
  background: #FD603E;
  color: #fff;
}

*::selection {
  background: #FD603E;
  color: #fff;
}

a {
  text-decoration: none !important;
  color: #5a5a5a;
  -webkit-transition: .15s ease;
  transition: .15s ease;
}

a:hover {
  color: #000;
}

a:active {
  color: #FD603E;
}

.bg-color {
  background: #ECECEC;
}

.main-color {
  color: #FD603E;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px 0;
          box-shadow: inset 0 0 2px 0;
}

::-webkit-scrollbar-thumb {
  background: #FD603E;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}

.search__input {
  padding: 0 !important;
  outline-color: #FD603E;
  margin-right: .1rem;
}

.search__input::-webkit-input-placeholder {
  font-size: .7rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding-left: .3rem;
}

.search__input:-ms-input-placeholder {
  font-size: .7rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding-left: .3rem;
}

.search__input::-ms-input-placeholder {
  font-size: .7rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding-left: .3rem;
}

.search__input::placeholder {
  font-size: .7rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding-left: .3rem;
}

.search__submit {
  width: 4rem;
  height: auto;
  font-size: .7rem;
  font-weight: 600;
  color: #FD603E;
  outline: none;
  background: #fff;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.search__submit:hover {
  background-color: #FD603E;
  color: #fff;
}

.socials__icon {
  color: #FD603E;
  font-size: 1.3rem;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.socials__icon:hover {
  color: gray;
}

.topnav__brand {
  color: gray;
  -webkit-transition: .2s;
  transition: .2s;
}

.topnav__brand:hover {
  color: #FD603E;
}

.topnav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.topnav__list {
  margin-right: 1rem;
  position: relative;
}

.topnav__link {
  font-size: .8rem;
  font-weight: 600;
}

.topnav__link::after {
  content: " ";
  width: 100%;
  height: 2px;
  position: absolute;
  top: 2.3rem;
  left: 0;
  background: #FD603E;
  opacity: 0;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.topnav__link:hover::after {
  opacity: 1;
}

.slider__img {
  width: 100%;
  height: 23rem;
}

.slider__dot {
  border-radius: 50%;
  width: .8rem !important;
  height: .8rem !important;
}

.topnews {
  border: 1px solid #FD603E;
}

.topnews__header {
  width: 100%;
  background: #FD603E;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (max-width: 1200px) {
  .topnav__link::after {
    width: 0;
  }
}

@media screen and (max-width: 991px) {
  .topnav__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: .5rem;
  }
}

@media screen and (max-width: 375px) {
  body {
    font-size: 12px !important;
  }
}
/*# sourceMappingURL=main.css.map */