@import "patrials/_variables.scss";
@import "patrials/config";
@import "patrials/_header.scss";
@import "patrials/_slider.scss";


@media screen and (max-width:1200px){
    .topnav__link{
        &::after{
            width: 0; //for navigation wrapping without absolute possition errors
        }
    }
}

@media screen and (max-width:991px){
    .topnav__ul{
        @include flex(column, center, flex-start);
        margin-top: .5rem;
    }
    .topnews__img{
        max-height: 20rem;
    }
}

@media screen and (max-width:575px){
    .slider__img{
        height: 17rem;
    }
}

@media screen and (max-width:425px){
    .slider__img{
        height: 14rem;
    }
}

@media screen and (max-width:375px){
    body{
        font-size: 12px !important;
    }
}